nav.navbar
    ul.navbar__list
        li.navbar__item
            a.navbar__link(href = './index.html') Home
        li.navbar__item
            a.navbar__link(href = "./about.html") About
        li.navbar__item
            a.navbar__link(href = "./contact.html") Contact