nav.navbars
    ul.navbars__list
        li.navbars__item
            a.navbars__link(href = './index.html') Home
        li.navbars__item
            a.navbars__link(href = "./about.html") About
        li.navbars__item
            a.navbars__link(href = "./contact.html") Contact