html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-height: 100vh;
    height: 90vh;
    
    font-size: 62.5%;

    background-image: $background-color;
}

h1{
    font-size: 5rem;
    color: white;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .4);
}