@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700');

$font-sizes: (
    h1: 2rem,
    h2: 1.6rem,
    p: 1rem
);

@each $tag, $size in $font-sizes {
    #{$tag}{
        font-size: $size;
    };
};